@import "base/base";
$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

/* Universal selector *, its called because it helps in resetting the browers defult assignment. For example, web browser can auto assign width or margin
when being loaded. To omit such unusal behaviour we define this on css.  */

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
   
    /* check this on web  constraints element inside box limits elements to take more space esp padding and border */
}
html{
    font-size: 62.5%;
    /* 100% ==> 16px so, if we want want to have 10 px divide 10/16 == 62.5% */
}


body{
    font-family: "lato",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;  
    /* padding:30px; */
    padding: 3rem;
    box-sizing: border-box; 
}

.header {
height: 95vh;
background-image: linear-gradient( to right bottom,rgba($color-primary-light, 0.808),rgba($color-primary-dark, 0.801)),url(../img/hero.jpg);
background-size: cover;
/* extends full width of image to viewport */
background-position: top;
/* what it does is that it will preserve the content of top. wont crop when 
window is stretched or compressed.  */
clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
position: relative;
//& => selects or points the header. 
    &__logo-box {
        position:absolute;
        top: 4rem;
        left: 4rem;
        border-color: 1px solid-red;
        
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        /* % change with respect to parent whereas in translate wrt element itself */
        /* background-color: red; */
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__logo{
        height: 3.5rem;
        }
}



.logo:hover{
    animation: moveInRight 1s ease-out;
}



.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    /* to fix animation glitch hide back part of transforming element */
    margin-bottom: 6rem;

        &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        }
        &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
        }
}


@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%{
        transform: translateX(1rem);

    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.btn{
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
    
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active{ 
        transform: translateY(-1px );
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
    
    &--white{
        background-color: $color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        }
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
        
    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    
    }
    

}


/* Need a fix for botth translate Y  */