


.header {
    height: 95vh;
    background-image: linear-gradient( 
        to right bottom,
        rgba($color-primary-light, 0.808),
        rgba($color-primary-dark, 0.801)),
        url(../img/hero.jpg);
    background-size: cover;
    /* extends full width of image to viewport */
    background-position: top;
    /* what it does is that it will preserve the content of top. wont crop when 
    window is stretched or compressed.  */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    //& => selects or points the header. 
        &__logo-box {
            position:absolute;
            top: 4rem;
            left: 4rem;
            border-color: 1px solid-red;
            
        }
    
        &__text-box{
            position: absolute;
            top: 40%;
            left: 50%;
            /* % change with respect to parent whereas in translate wrt element itself */
            /* background-color: red; */
            transform: translate(-50%, -50%);
            text-align: center;
        }
    
        &__logo{
            height: 3.5rem;
            }
    }
    