// {
//   "name": "Nexter",
//   "version": "1.0.0",
//   "description": "Nexter webpage",
//   "main": "index.js",
//   "scripts": {
//     "watch:sass": "node-sass sass/main.scss css/style.css -w",
//     "devserver": "live-server",    ********** if you want live server to get opened on other add "--browser=firefox" after live-server
//     "start": "npm-run-all --parallel devserver watch:sass",
//     "compile:sass": "node-sass sass/main.scss css/style.comp.css",
//     "prefix:css": "postcss --use autoprefixer -b 'last 10 versions' css/style.comp.css -o css/style.prefix.css",
//     "compress:css": "node-sass css/style.prefix.css css/style.css --output-style compressed",
//     "build:css": "npm-run-all compile:sass prefix:css compress:css"
//   },
//   "author": "Jonas",
//   "license": "ISC",
//   "devDependencies": {
//     "autoprefixer": "^7.1.4",
//     "concat": "^1.0.3",
//     "node-sass": "^4.5.3",
//     "npm-run-all": "^4.1.1",
//     "postcss-cli": "^4.1.1"
//   }
// }

%heading {
    font-family: $font-display;
    font-weight: 400;
}
.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light {
        color: $color-grey-light-1;
    }
    &--dark {
        color: $color-grey-dark-1;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6em;
    color: $color-primary;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    //  STYLED THE MODIFIERS
    &--light {
        color: $color-grey-light-1;
    }
    &--dark {
        color: $color-grey-dark-1;
    }
}

.btn {
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: $color-primary-dark;
    }
}

//creating helper class here for margin button in big broject can be used to crete new page

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-hg {
    margin-bottom: 8rem;
}
