/* Universal selector *, its called because it helps in resetting the browers defult assignment. For example, web browser can auto assign width or margin
when being loaded. To omit such unusal behaviour we define this on css.  */

//this are considered as reset.
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
   
    /* check this on web  constraints element inside box limits elements to take more space esp padding and border */
}
html{
    //this defines what 1 rem is 
    font-size: 62.5%; //1 rem 10 px 
    /* 100% ==> 16px so, if we want want to have 10 px divide 10/16 == 62.5% */

    // @media (max-width: 600px){
    //     font-size: 50%;
    // }

    // @include respond-phone{
    //     font-size: 50%;
    // }

    // @include respond(phone){
    //     font-size: 50%;
    // }


    @include respond(tab-land){
        font-size: 56.25%; //considering 1 rem 9 px, 9/16= 56.25% width <1200?
    }
    
    @include respond(tab-port){
        font-size: 50%; //considering 1 rem 8 px, 8/16=50% width <900?
    }

    @include respond(big-desktop){
        font-size: 80%; //considering 1 rem 12 px, 12/16=75%  1800px
    }

    //Last declaration wil apply if query are same that justifies why order is more important

}


body{

    box-sizing: border-box; 
    padding: 3rem;

    @include respond(tab-port){
        padding: 0;
    }
}