//LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

//Search Box
.search {
    // background-color: orangered;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all 0.2s;
        //button will move top of input
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    //Adjecent sibling selector that selectes the block immediate after it.
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

//USER-NAV

.user-nav {
    display: flex;
    align-items: center;

    //overriding align-items
    align-self: stretch;
    // background-color: greenyellow;

    //selects user nav and all of it's direct children . I.E __icon-box, __user
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        //centering the text or items with flex-box

        display: flex;
        justify-content: center;
        align-items: center;
    }

    // &__user {
    // }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    // &__user-name { already selected with direct children selector
    // }
}

////SIDE NAVIGATIONS
///

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        //except the last element all element bottom margin must be maintained 0.5rem , also broke pink line animation stater
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__item::before {
        //to create the animation start point
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        //animation origin point
        // transform-origin: bottom;

        // transition: transform 0.2s, width 0.4s  delay 0.2s;
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
    }

    &__item:hover::before,
    //added modifier to get one element auto selected
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary--light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;

        //for centering the elements
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}

//LEGAL TEXT

.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

//Gallery
.gallery {
    display: flex;
    &__photo {
        width: 100%;
        display: block;
    }
}

//HOITEL OVERVIEW

.overview {
    display: flex;
    //justify-content: space-between;

    &__heading {
    }

    &__stars {
        // flex: 1;
        //flex:1 best alternatives to use margin -right: auto
        margin-right: auto;
        // background-color: orange;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
    }

    &__rating {
    }

    &__rating-average {
    }
}
