//LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

//Search Box
.search {
    // background-color: orangered;
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all 0.2s;
        //button will move top of input
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    //Adjecent sibling selector that selectes the block immediate after it.
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

//USER-NAV

.user-nav {
    display: flex;
    align-items: center;

    //overriding align-items
    align-self: stretch;
    // background-color: greenyellow;

    //selects user nav and all of it's direct children . I.E __icon-box, __user
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        //centering the text or items with flex-box

        display: flex;
        justify-content: center;
        align-items: center;
    }

    // &__user {
    // }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    // &__user-name { already selected with direct children selector
    // }
}
