.container {
    max-width: 120rem;
    margin: 8rem auto; //centers the container
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}
.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display: flex;
    //adds header to side by side
    justify-content: space-between;

    //align items helps to justify the block horizontally
    align-items: center;
}

.content {
    //here content holds 2 main block element so we consider it as main flex container and to use flexbox prop we used display:flex here
    display: flex;
}

.sidebar {
    //flex item1
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; // 1st zero flex scale , shrink, width, 18 % of parent width i.e content width or container width

    display: flex;
    //taking vertical approach to build up sidebar
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    //flex item2
    background-color: #fff;
    //test
    background-color: orange;
    height: 80rem;
    flex: 1;
}
