.container {
    max-width: 120rem;
    margin: 8rem auto; //centers the container
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}
.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    //adds header to side by side
    justify-content: space-between;

    //align items helps to justify the block horizontally
    align-items: center;
}

.content {
    //here content holds 2 main block element so we consider it as main flex container and to use flexbox prop we used display:flex here
    display: flex;
}

.sidebar {
    //flex item1
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%; // 1st zero flex scale , shrink, width, 18 % of parent width i.e content width or container width

    display: flex;
    //taking vertical approach to build up sidebar
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    //flex item2
    background-color: #fff;
    //test
    /// background-color: orange;
    // height: 80rem;
    flex: 1;
}

.detail {
    //to make description and user-review block side by side
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}
.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: 0.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    // background-color: greenyellow;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
